<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpContextBinding>
          <binding name="bhcb1" sendTimeout="00:00:01">
          </binding>
          <binding name="bhcb2" sendTimeout="00:00:51">
          </binding>
        </basicHttpContextBinding>
      </bindings>
      
        <client>
            <endpoint address="http://localhost:9999/Service10001" 
                      binding="basicHttpContextBinding"
                      bindingConfiguration="bhcb1" 
                      contract="BingingTest.IService10000"
                      name="EPService10001" 
                      kind="" 
                      endpointConfiguration="" />
            <endpoint address="http://localhost:9999/Service10002" 
                      binding="basicHttpContextBinding"
                      bindingConfiguration= "bhcb2" 
                      contract="BingingTest.IService10000"
                      name="EPService10002" 
                      kind="" 
                      endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>