<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      
      <service name="Rashim.RND.AdhocDiscovery.Services.MessageService">
        <host>
          <baseAddresses>
            <!--Na potrzeby uproszczenia testu adres endpointów bedzie stały, ale mozna endpointy można tworzyć w runtime i adres określać dynamicznie-->
            <add baseAddress="http://localhost:8731/MessageService"/>
          </baseAddresses>
        </host>
        <!--Oba poniższe endpointy zostaną zgłoszone poprzez mechanizm discovery-->
        <endpoint address="/TEST11" binding="wsHttpBinding" contract="Rashim.RND.AdhocDiscovery.Services.IMessageService"/>
        <endpoint address="/TEST12" binding="basicHttpBinding" contract="Rashim.RND.AdhocDiscovery.Services.IMessageService"/>
        <endpoint kind="mexEndpoint"/>
        <!--Endpoint discovery o domyślnych ustawieniach. Jest konieczny do działania mechanizmu discivery. Bez niego service nie będzie widoczne-->
        <!--endpoint kind="udpDiscoveryEndpoint"/-->
      </service>

      <service name="Rashim.RND.AdhocDiscovery.Services.MessageService2">
        <host>
          <baseAddresses>
            <!--Na potrzeby uproszczenia testu adres endpointów bedzie stały, ale mozna endpointy można tworzyć w runtime i adres określać dynamicznie-->
            <add baseAddress="http://localhost:8732/MessageService2"/>
          </baseAddresses>
        </host>
        <!--Oba poniższe endpointy zostaną zgłoszone poprzez mechanizm discovery-->
        <endpoint address="/TEST21" binding="wsHttpBinding" contract="Rashim.RND.AdhocDiscovery.Services.IMessageService2"/>
        <endpoint address="/TEST22" binding="basicHttpBinding" contract="Rashim.RND.AdhocDiscovery.Services.IMessageService2"/>
        <endpoint kind="mexEndpoint"/>
        <!--Endpoint discovery o domyślnych ustawieniach. Jest konieczny do działania mechanizmu discivery.-->
        <endpoint kind="udpDiscoveryEndpoint"/>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDiscovery/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <endpointDiscovery>
            <scopes>
              <!--Pod tym adresem bedziemy szukać discovery endPoint. 
                  Protokół może być dowolny
              -->
              <add scope="ldap:///ou=people,o=rashim"/>
              <!--add scope="http://localhost:8733/Mess"/-->
            </scopes>
          </endpointDiscovery>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
