<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!--<system.serviceModel>
      
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>

      <services>
            <service name="Service.MyService">
                <endpoint address="" binding="basicHttpBinding" contract="Service.IMyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service/MyService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      
    </system.serviceModel>-->

  <!--system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true">
          <listeners>
            <add name="traceListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData="c:\log\Traces.svclog"  />
          </listeners>
        </source>
      </sources>
    </system.diagnostics-->

 
    <system.serviceModel>

      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <!--* httpGetEnabled/httpsGetEnabled udostępnia metadane service przez wsdl. 
                  Alternatywą jest utworzenie endpoint "mex" i implementacja interfejsu IMetadataExchange w service
                  Wymaga ustalonego httpGetUrl lub <service><host><baseAddresses>
                * httpGetUrl - adres dla pobierania metadanych. Jeśli nie ustawimy, to będzie to adres <service><host><baseAddresses>/?wsdl
                -->
            <serviceMetadata 
              httpGetEnabled="true"
              httpsGetEnabled="true"
              httpGetUrl="http://kkk:999"/>
            <serviceDebug includeExceptionDetailInFaults="false" />
            <serviceAuthenticationManager/>
            <serviceAuthorization/>
            <serviceDiscovery/>
            <serviceThrottling/>
          </behavior>
          <!--Dodanie behavior dla service: host.Description.Behaviors.Add(/* Service Behavior */);-->
          <!--Odczyt bahavior dla service: ServiceMetadataBehavior metad = host.Description.Behaviors.Find<ServiceMetadataBehavior>()-->
            <behavior name="test">
            <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
              <!--serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/SampleService?wsdl"/-->
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
        <services>
          <!--service name="Service.MyService">
                <endpoint address="http://localhost:9999/MyService" binding="basicHttpBinding"
                    bindingConfiguration="" name="ServiceEndpoint1" contract="Service.IMyService" />
            </service>
            <service name="Service2Library.MyService21">
                <endpoint address="http://localhost:8888/MyService21" binding="basicHttpBinding"
                    bindingConfiguration="" name="Service21Endpoint2" contract="Service2Library.IMyService2" />
            </service>
            <service name="Service2Library.MyService22">
                <endpoint address="http://localhost:6666/MyService22" binding="basicHttpBinding"
                    bindingConfiguration="" name="Service22Endpoint2" contract="Service2Library.IMyService2" />
            </service>
            <service name="Service2Library.MyService3">
                <endpoint address="http://localhost:7777/BleBleBle3/CosTam3"
                    binding="basicHttpBinding" bindingConfiguration="" name="ServiceEndpoint1"
                    contract="Service2Library.IMyService3" />
            </service-->
          
<!-- ..................................................................................................................... -->
          
          <service name="BehaviorTest.Service10000" behaviorConfiguration="test">
            <endpoint address="http://localhost:9999/Service10000"
                binding="basicHttpBinding" bindingConfiguration="" name="ServiceEndpoint10000"
                contract="BehaviorTest.IService10000" />
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
          </service>
        </services>


    </system.serviceModel>
</configuration>